body {
  font-family: roboto;
  margin: 0 0;
}

ul {
  list-style-type: none;
  gap: 2rem;
}

.intro {
  padding: 0 10rem;
  background-color: #1f2937;

  color: #f9faf8;
  padding-top: 1rem;
  padding-bottom: 5rem;
  margin: 0;
}

.upper-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.parent-div {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.parent-div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15rem;
  margin-bottom: 5rem;
}

.info-div {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.illustration-image {
  border-color: #3885f6;
  height: 10rem;
  border-radius: 1rem;
  width: 100%;
  border-style: solid;
}

.illustration-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  text-align: center;
}

.mid-div {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.placeholder-image {
  background-color: #6f737b;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 0;
}

.hero-link-text {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.hero-secondary-text,
.hero-link-text {
  font-size: 18px;
  color: #e5e7eb;
}

.header-logo-text {
  font-size: 24px;
  color: #f9faf8;
}

.information-header-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

button {
  background-color: #3885f6;
  color: #e5e7eb;
  font-weight: 700;
  border-radius: 5px;
  border-color: #3885f6;
  padding: 5px 20px;
  max-width: 10rem;
}

p {
  margin-top: 0;
}

.quote-section {
  background-color: #e5e7eb;
  font-weight: 300;
  color: #1f2937;
  padding: 5rem 20rem;
}

.quote-section h3 {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.quote-section p {
  font-size: 20px;
  font-weight: bold;
  text-align: end;
}

.call-to-action {
  background-color: #3885f6;
  border-radius: 5px;
  margin: 5rem 10rem;
  padding: 1rem 5rem;
  color: #f9faf8;
}

.call-to-action button {
  align-items: center;
  border-color: #f9faf8;
}

.button-div {
  display: flex;
  align-items: center;
}
